<<<<<<< HEAD
{{>admin-header}}
=======
{{!--  
        <script src="https://kit.fontawesome.com/4544b2b530.js" crossorigin="anonymous"></script>
		<div class="py-2" style="background-color: #82AE46;">
		</div>
    
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar  ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="index.html" style="color: #82AE46;">ORGANICO</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
	          <li class="nav-item"><a href="/admin/user-list" class="nav-link">Users</a></li>
	          <li class="nav-item"><a href="/admin/product-list" class="nav-link">Products</a></li>
	          <li class="nav-item"><a href="/admin/add-category" class="nav-link">Category</a></li>
	          <li class="nav-item"><a href="contact.html" class="nav-link">Orders</a></li>
	           <li class="nav-item"><a class="nav-link" href=""><i class="fa-solid fa-user"></i>  {{admin.email}}</li></a>

	        </ul>
	      </div>
	    </div>
	  </nav> --}}
    <!-- END nav -->
>>>>>>> 44fc99901b655be9570cb355c355657cdc30e2cf

    <div class="hero-wrap hero-bread" style="background-image: url('/images/bg_1.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	{{!-- <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span class="mr-2"><a href="index.html">Product</a></span> <span>Product Single</span></p> --}}
            <h1 class="mb-0 bread">CATEGORY MANAGEMENT</h1>
          </div>
        </div>
      </div>
    </div>

 {{!-- Start --}}
 
 {{#if editCategoryData}}
<div class="container mt-3" style="display: flex; align-items: center;justify-content: center;">
  <form method="post" action="/admin/edit-category/{{editCategoryData._id}}" class="d-flex " style="justify-content: center;align-items: center;">
  <input type="text" name="category" id="category" value="{{editCategoryData.category}}" placeholder="Enter category" class="form-control form-control-lg" style="border-style:solid ; border-color:#82AE46; width:50vw;">

  {{!-- {{#if editCategoryData.category}} --}}
  {{!-- <input class="ms-2 mt-2" type="submit"style="background-color:#82AE46;  border-radius:7px; color:white; float:right;border:none; height:40px;" value="Update Product"> --}}
  {{!-- {{else}} --}}
  <input class="ms-2 mt-2" type="submit"style="background-color:#82AE46;  border-radius:7px; color:white; float:right;border:none; height:40px;" value="Edit Category">
  {{!-- {{/if}} --}}
  </form>
</div>
 {{else}}
<div class="container mt-3" style="display: flex; align-items: center;justify-content: center;">
  <form method="post" action="/admin/add-category" class="d-flex " style="justify-content: center;align-items: center;">
  <input type="text" name="category" id="category"  placeholder="Enter category" class="form-control form-control-lg" style="border-style:solid ; border-color:#82AE46; width:50vw;">

  {{!-- {{#if editCategoryData.category}} --}}
  <input class="ms-2 mt-2" type="submit"style="background-color:#82AE46;  border-radius:7px; color:white; float:right;border:none; height:40px;" value="Add Category">
  {{!-- {{else}} --}}
  {{!-- <input class="ms-2 mt-2" type="submit"style="background-color:#82AE46;  border-radius:7px; color:white; float:right;border:none; height:40px;" value="Edit Product"> --}}
  {{/if}}
  </form>
</div>

<table class="table mt-4">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Sl No</th>
      <th scope="col">Category</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each categoryData}}
    <tr>
      <td scope="row">{{@index}}</td>
      <td>{{category}}</td>
      <td>
      <a class="btn btn-secondary"  href="/admin/edit-category/{{_id}}">Edit</a>
      <a class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {{category}}?')" href="/admin/delete-category/{{_id}}">Delete</a>
      </td>
    </tr>
    {{/each}}
    </tbody>
</table>
<div>
  <p class="text-danger">{{errMsg}}</p>
</div>