{{>admin-header}}

<div class="container mt-5">
  <h2 class="text-center">ORDER MANAGEMENT</h2>
</div>

<div class="container">
  <div class="row mt-3">
    <div class="col-12">
      <div class="table-responsive p-2">
        <table class="table table-striped table-bordered" id="example">
          <thead>
            <tr>
              <th>Sl.No</th>
              <th>Username</th>
              <th>Location</th>
              <th>Date</th>
              <th>Total Amount</th>
              <th>Payment Method</th>
              <th>Order Status</th>
              <th>Payment Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each orderList}}
            <tr>
              <td>{{inc @index}}</td>
              <td>{{deliveryDetails.name}}</td>
              <td>{{deliveryDetails.street}},{{deliveryDetails.town}},{{deliveryDetails.state}}</td>
              <td>{{date}}</td>
              <td>{{totalAmount.[0].total}}</td>
              <td>{{paymentMethod}}</td>
              <td>{{#if (eq orderStatus 'order cancelled')}}<span
                  class="text-danger">{{orderStatus}}</span>{{else}}{{orderStatus}}{{/if}}</td>
              <td>{{#if (eq paymentStatus 'Return')}}<span
                  class="text-warning">{{paymentStatus}}</span>{{else}}{{paymentStatus}}{{/if}}</td>
              <td><a href="/admin/order-details/{{_id}}" class="btn btn-primary">Details</a></td>

            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>