
{{>admin-header}}
{{!-- 
        <script src="https://kit.fontawesome.com/4544b2b530.js" crossorigin="anonymous"></script>
		<div class="py-2" style="background-color: #82AE46;">
		</div>
    
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar  ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="index.html" style="color: #82AE46;">ORGANICO</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
	          <li class="nav-item"><a href="/admin/user-list" class="nav-link">Users</a></li>
	          <li class="nav-item"><a href="/admin/product-list" class="nav-link">Products</a></li>
	          <li class="nav-item"><a href="/admin/add-category" class="nav-link">Category</a></li>
	          <li class="nav-item"><a href="contact.html" class="nav-link">Orders</a></li>
	           <li class="nav-item"><a class="nav-link" href=""><i class="fa-solid fa-user"></i>  {{admin.email}}</li></a>

	        </ul>
	      </div>
	    </div>
	  </nav> --}}
    <!-- END nav -->


    {{!-- <div class="hero-wrap hero-bread" style="background-image: url('/images/bg_1.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-0 bread">PRODUCT MANAGEMENT</h1>
          </div>
        </div>
      </div>
    </div> --}}

   

{{!-- Table start --}}
<div class="container mt-5 mb-2">
 <h2 class="text-center">PRODUCT MANAGEMENT</h2>
</div>
<div class="container col-md">
  <div class="row">
    <div>
  <a  class="mt-3 ms-2 btn" href="/admin/add-product" style="background-color:#82AE46; border-radius:7px; color:white; float:right; right:10px" >Add Product</a>
  </div>
  </div>
</div>
{{!-- <div class="container col-md mb-5" style="position: relative;right:150px">
  <a  class="mt-3 ms-2 mb-5 btn" href="/admin/add-product" style="background-color:#82AE46; border-radius:7px; color:white; float:right">Add Product</a>
</div> --}}

{{!-- <div class="container d-md-block d-none">
<table class="table" id="myTable">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Sl.No</th>
      <th scope="col">Product Name</th>
      <th scope="col">Brand</th>
      <th scope="col">Category</th>
      <th scope="col">Price(₹)</th>
      <th scope="col">Stock (kg)</th>
      <th scope="col">Image</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
    <tr>
      <td>{{inc @index}}</td>
      <td>{{name}}</td>
      <td>{{brand}}</td>
      <td>{{category}}</td>
      <td>{{price}}</td>
      <td>{{stock}}</td>
      <td><img src="/product-images/{{Images.[0]}}.jpg" alt="" width="100px"></td>
      <td><a class="btn btn-secondary" href="/admin/edit-product/{{_id}}">Edit</a>
      {{#if status}}
      <a class="btn btn-warning" onclick="return confirm('Are you sure you want to unlist {{name}}?')" href="/admin/delete-product/{{_id}}">Unlist</a></td>
      {{else}}
      <a class="btn btn-danger" onclick="return confirm('Are you sure you want to list {{name}}?')" href="/admin/list-product/{{_id}}">List</a></td>
      {{/if}}
    </tr>
    {{/each}}
    </tbody>
</table>
</div> --}}

<div class="container mt-3">
        <div class="row mt-3">
            <div class="col-12">
                <div class="table-responsive p-2">
                    <table class="table table-striped table-bordered" id="example">
                        <thead>
                            <tr>
                                <th>Sl.No</th>
                                <th>Image</th>
                                <th>Product Name</th>
                                <th>Brand</th>
                                <th>Category</th>
                                <th>Price</th>
                                <th>Stock</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each products}}
                            <tr>
                                <td>{{inc @index}}</td>
                                <td><img src="/product-images/{{Images.[0]}}.jpg" width="50px" height="50px" alt=""></td>
                                <td>{{name}}</td>
                                <td>{{brand}}</td>
                                <td>{{category}}</td>
                                <td>{{price}}</td>
                                <td>{{stock}}</td>
                                <td>
                                    <a href="/admin/edit-product/{{_id}}" class="btn btn-primary">Edit</a>
                                    {{#if status}}
                                    {{!-- <a href="/admin/listproduct/{{_id}}">
                                        <button type="button" class="btn btn-danger" data-toggle="modal"
                                            data-target=".bd-example-modal-sm"
                                            onclick="return confirm('Are you sure you want to unlist {{name}}?')" href="/admin/delete-product/{{_id}}">unlist</button> --}}
                                        <a class="btn btn-warning" onclick="return confirm('Are you sure you want to unlist {{name}}?')" href="/admin/delete-product/{{_id}}">Unlist</a></td>
                                        {{else}}
                                        <a class="btn btn-danger" onclick="return confirm('Are you sure you want to list {{name}}?')" href="/admin/list-product/{{_id}}">List</a></td>
                                        {{!-- <a href="/admin/unlistproduct/{{_id}}">
                                            <button type="button" class="btn btn-danger" data-toggle="modal"
                                                data-target=".bd-example-modal-sm"
                                                onclick="return confirm('Are you sure you want to list {{name}}?')" href="/admin/list-product/{{_id}}">list</button> --}}
                                            {{/if}}
                                        </a>
                                        <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog"
                                            aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-sm">
                                                <div class="modal-content">
                                                    Delete Cancelled
                                                </div>
                                            </div>
                                        </div>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>




