{{>user-header}}

<div class="hero-wrap hero-bread" style="background-image: url('images/bg_1.jpg');">
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Cart</span></p>
				<h1 class="mb-0 bread">My Cart</h1>
			</div>
		</div>
	</div>
</div>

<div>
</div>
{{#if cartItems}}
<section class="ftco-section ftco-cart">
	<p id="item" class="text-danger text-center"></p>
	<p id="outOfStock" class="text-danger text-center"></p>
	<div class="container">

		<div class="row">
			<div class="col-md-12 ftco-animate">
				<div class="cart-list">
					<table class="table">
						<thead class="thead-primary">
							<tr class="text-center">

								<th>Product</th>
								<th>Product name</th>
								<th>Price</th>
								<th>Quantity</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							{{#each cartItems}}
							<tr class="text-center">

								<td class="image-prod">
									<div class="img"
										style="background-image:url(/product-images/{{productDetails.Images.[0]}}.jpg);">
									</div>
								</td>

								<td class="product-name">
									<h3>{{productDetails.name}}</h3>
									<p>{{productDetails.description}}</p>
								</td>

								<td class="price">{{productDetails.price}}</td>

								<td class="quantity  ">
									<div class="input-group mb-3 ps-5 ms-3" style="">

										<button class="cart-item-count mr-3 pe-2 ps-2"
											onclick="changeQuantity('{{_id}}','{{productDetails._id}}','{{../user}}','{{@index}}','{{productDetails.name}}',-1)">-</button>
										<p class="pt-4" id="{{productDetails._id}}">{{quantity}}</p>
										<button id="{{@index}}" class="cart-item-count ml-3 pe-2 ps-2"
											onclick="changeQuantity('{{_id}}','{{productDetails._id}}','{{../user}}','{{@index}}','{{productDetails.name}}',1)">+</button>

									</div>
								</td>
								<td class="product-remove"><a href="/remove-product/{{productDetails._id}}"
										onclick="confirm('Are you sure you wanna remove this?')"><span
											class="ion-ios-close"></span></a></td>
							</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="row justify-content-between mt-3">
			<div class="cart-total mb-3 col-md-5">
				<a>
					<p data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="float:left" class="text-info">Show
						available coupons</p>
				</a>
				<h3>Coupon Code</h3>
				<p>Enter your coupon code if you have one</p>
				<form class="info">
					<div class="form-group" >
						<label for="">Coupon code</label>
						<input type="text" id="couponCode" class="form-control text-left px-3" placeholder="">
						<p class="text-danger" id="err">{{errCoupon}}</p>
						{{#each total}}
						<input type="text" id="totalamt" value="{{total}}" hidden>
						{{/each}}
					</div>
				</form>
				<p><a onclick="return applyCoupon()" class="btn btn-primary py-3 px-4" id="applyCoupon"
					onmouseover="changeText()">Apply Coupon</a></p>
		
			</div>
			
		<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
			<div class="cart-total mb-3">
				<h3>Cart Totals</h3>
				{{#if discountAmount}}
				<p class="d-flex">
					<span>Subtotal</span>
					<span>Rs.{{subtotal}}</span>
				</p>
				{{/if}}
				<p class="d-flex">
					<span>Delivery</span>
					<span>Rs.0.00</span>
				</p>
				{{#if discountAmount}}
				<p class="d-flex">
					<span>Discount</span>
					<span>Rs.{{discountAmount}}</span>
				</p>
				{{/if}}
				<hr>
				<p class="d-flex total-price">
					<span>Total</span>
					{{#each total}}
					<span id="total">Rs.{{total}}</span>
					{{/each}}
				</p>
			</div>
			<p><a href="/place-order" class="btn btn-primary py-3 px-4">Proceed to Checkout</a></p>
		</div>
		</div>
	</div>
	</div>
</section>
{{else}}
<div class="text-center">
	<img src="/images/empty-carts.jpg" alt="" width="250px">
	<h4 class="text-secondary">Your cart is empty!</h4>
</div>

{{/if}}

<script>
	function changeQuantity(cartId, productId, userId, index, productName, count) {
		let quantity = parseInt(document.getElementById(productId).innerHTML);
		count = parseInt(count);

		console.log(userId);

		if (quantity > 9 && count == 1) {



			document.getElementById(index).style.visibility = 'hidden';
			document.getElementById('item').style.visibility = 'visible';
			document.getElementById('item').innerHTML = "Cannot select more than 10 items";
		}
		else {
			document.getElementById(index).style.visibility = 'visible';
			document.getElementById('item').style.visibility = 'hidden';
			$.ajax({
				url: '/change-product-quantity',
				data: {
					user: userId,
					cart: cartId,
					product: productId,
					count: count,
					quantity: quantity
				},
				method: 'post',
				success: (response) => {
					console.log(response)
					if (response.removeProduct) {
						confirm("Are you sure you wanna remove this?");

						location.reload();


					}
					else if (response.stock == 'outOfStock') {
						document.getElementById('outOfStock').innerHTML = productName + " " + 'is out of stock!';
						document.getElementById('outOfStock').style.visibility = 'visible';
					}
					else {
						document.getElementById('outOfStock').style.visibility = 'hidden';
						document.getElementById(productId).innerHTML = quantity + count;
						document.getElementById('total').innerHTML = "Rs." + response.total[0].total

					}



				}
			})
		}
	}



</script>

<script>
	$(document).ready(function () {

		var quantitiy = 0;
		$('.quantity-right-plus').click(function (e) {

			// Stop acting like a button
			e.preventDefault();
			// Get the field name
			var quantity = parseInt($('#quantity').val());

			// If is not undefined

			$('#quantity').val(quantity + 1);


			// Increment

		});

		$('.quantity-left-minus').click(function (e) {
			// Stop acting like a button
			e.preventDefault();
			// Get the field name
			var quantity = parseInt($('#quantity').val());

			// If is not undefined

			// Increment
			if (quantity > 0) {
				$('#quantity').val(quantity - 1);
			}
		});

	});
</script>
{{>footer}}

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
	aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">Coupons</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			{{#each couponList}}
			<div class="modal-body">
				<div class="head pe-2 pt-2" style="float: right; ">
					<button type="submit" onclick="copy('{{coupon}}')" class="btn btn-outline-primary"
						style="float:right">copy</button>
				</div>
				<h5 id="coupon">{{coupon}}</h5>

				{{#if (eq discountType "percentage")}}
				<p>Get {{discount}}% off on purchase of minimum {{minItems}} items worth {{minAmount}} rupees</p>
				{{else}}
				Get {{discount}}Rs. off on purchase of minimum {{minItems}} items worth {{minAmount}} rupees</p>
				{{/if}}
				valid till : {{expiryDate}}
			</div>
			{{/each}}
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

			</div>
		</div>
	</div>
</div>
<script>
	function copy(coupon) {
		console.log("coupon" + coupon)
		navigator.clipboard.writeText(coupon)
	}

	function applyCoupon() {
		let couponCode = document.getElementById('couponCode').value;
		let total = document.getElementById('totalamt').value;
		let couponRegex = /^([A-Za-z0-9]){3,20}$/gm;
		console.log("hi", couponCode);
		console.log("hi", total);
		if (couponCode == '') {
			document.getElementById('err').innerHTML = 'Please enter coupon code';
			return false;
		}
		else if (couponRegex.test(couponCode) == false) {
			document.getElementById('err').innerHTML = 'Please enter valid coupon code';
			return false;
		}
		else {
			$.ajax({
				url: '/apply-coupon',
				method: 'post',
				data: {
					'couponCode': couponCode,
					'totalAmount': total,
				},
				success: (response) => {
					console.log(response);
					location.reload();
				}
			})
		}
	}

</script>

<style>
	applyCoupon:hover {
		color: red;
	}
</style>
{{!-- Sweet Alert --}}
<script>

	function sweetAlert() {
		const swalWithBootstrapButtons = Swal.mixin({
			customClass: {
				confirmButton: 'btn btn-success',
				cancelButton: 'btn btn-danger'
			},
			buttonsStyling: false
		})

		swalWithBootstrapButtons.fire({
			title: 'Are you sure?',
			text: "You won't be able to revert this!",
			icon: 'warning',
			showCancelButton: true,
			confirmButtonText: 'Yes, delete it!',
			cancelButtonText: 'No, cancel!',
			reverseButtons: true
		}).then((result) => {
			if (result.isConfirmed) {
				swalWithBootstrapButtons.fire(
					'Deleted!',
					'Your file has been deleted.',
					'success'
				)
			} else if (
				/* Read more about handling dismissals below */
				result.dismiss === Swal.DismissReason.cancel
			) {
				swalWithBootstrapButtons.fire(
					'Cancelled',
					'Your imaginary file is safe :)',
					'error'
				)
			}
		})
	}


</script>