

    {{>user-header}}
   
    <div class="hero-wrap hero-bread" style="background-image: url('images/bg_1.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Cart</span></p>
            <h1 class="mb-0 bread">My Cart</h1>
          </div>
        </div>
      </div>
    </div>

	{{!-- <div>
		<p id="item"  class="text-danger"></p>
	</div> --}}
    <div>
	</div>
	{{#if cartItems}}
    <section class="ftco-section ftco-cart">
		<p id="item"  class="text-danger text-center"></p>
		<p id="outOfStock"  class="text-danger text-center"></p>
			<div class="container">
				
				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
						       
						        <th>Product</th>
						        <th>Product name</th>
						        <th>Price</th>
						        <th>Quantity</th> 
								<th>Action</th> 
								{{!-- <th>&nbsp;</th> --}}
						        {{!-- <th>Total</th> --}}
						      </tr>
						    </thead>
						    <tbody>
                                {{#each cartItems}}
						      <tr class="text-center">
								{{!-- {{#each productDetails}} --}}
						        
						        
						        <td class="image-prod"><div class="img" style="background-image:url(/product-images/{{productDetails.Images.[0]}}.jpg);"></div></td>
						        
						        <td class="product-name">
						        	<h3>{{productDetails.name}}</h3>
						        	<p>{{productDetails.description}}</p>
						        </td>
						        
						        <td class="price">{{productDetails.price}}</td>
						        
						        <td class="quantity  ">
						        	<div class="input-group mb-3 ps-5 ms-3" style="">
										
										<button class="cart-item-count mr-3 pe-2 ps-2" onclick="changeQuantity('{{_id}}','{{productDetails._id}}','{{../user}}','{{@index}}','{{productDetails.name}}',-1)">-</button>
										<p class="pt-4" id="{{productDetails._id}}">{{quantity}}</p>
									    <button id="{{@index}}" class="cart-item-count ml-3 pe-2 ps-2" onclick="changeQuantity('{{_id}}','{{productDetails._id}}','{{../user}}','{{@index}}','{{productDetails.name}}',1)">+</button>
					          	        
								    </div>
					            </td>
						        <td class="product-remove"><a href="/remove-product/{{productDetails._id}}" onclick="confirm('Are you sure you wanna remove this?')"><span class="ion-ios-close"></span></a></td>
						        {{!-- <td class="total">$4.90</td> --}}
								{{!-- {{/each}} --}}
						      </tr>
                              {{/each}}
                              <!-- END TR-->

						      
                              <!-- END TR-->
						    </tbody>
						  </table>
					  </div>
    			</div>
    		</div>
    		<div class="row justify-content-end">
				
    			<div class="col-lg-4 mt-5 cart-wrap ftco-animate" style="margin: 0 auto;width: 50%;">
				
					{{!-- <p class="mt-2 mb-5 ps-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="float:left"><a href="#">Show available coupons</a></p> --}}
					
					{{!-- <p class="text-info" data-bs-toggle="modal" data-bs-target="#exampleModal"><a>Show available coupons</a></p> --}}
					{{!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                     Show available coupons
                    </button> --}}

    				<div class="cart-total mb-3">
						<a><p data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="float:left" class="text-info">Show available coupons</p></a>
    					<h3>Coupon Code</h3>
    					<p>Enter your coupon code if you have one</p>
  						<form  class="info">
	              <div class="form-group">
	              	<label for="">Coupon code</label>
	                <input type="text" id="couponCode" class="form-control text-left px-3" placeholder="">
					<p class="text-danger" id="err">{{errCoupon}}</p>
					{{#each total}}
					<input type="text" id="totalamt" value="{{total}}" hidden>
					{{/each}}
	              </div>
	            </form>
    				</div>
    				{{!-- <p><a onclick="return applyCoupon()" class="btn btn-primary py-3 px-4" style="color:white;" id="applyCoupon" onmouseover="change()">Apply Coupon</a></p> --}}
    				<p><a onclick="return applyCoupon()" class="btn btn-primary py-3 px-4" id="applyCoupon" onmouseover="changeText()">Apply Coupon</a></p>
    				{{!-- <p><button onclick="return applyCoupon()" class="btn btn-primary py-3 px-4" style="color:white;" id="applyCoupon" onmouseover="change()">Apply Coupon</button></p> --}}
    			    </div>
    			{{!-- <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3">
    					<h3>Estimate shipping and tax</h3>
    					<p>Enter your destination to get a shipping estimate</p>
  						<form action="#" class="info">
	              <div class="form-group">
	              	<label for="">Country</label>
	                <input type="text" class="form-control text-left px-3" placeholder="">
	              </div>
	              <div class="form-group">
	              	<label for="country">State/Province</label>
	                <input type="text" class="form-control text-left px-3" placeholder="">
	              </div>
	              <div class="form-group">
	              	<label for="country">Zip/Postal Code</label>
	                <input type="text" class="form-control text-left px-3" placeholder="">
	              </div>
	            </form>
    				</div>
    				<p><a href="checkout.html" class="btn btn-primary py-3 px-4">Estimate</a></p>
    			</div> --}}
    			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3">
    					<h3>Cart Totals</h3>
						{{#if discountAmount}}
    					<p class="d-flex">
    						<span>Subtotal</span>
    						<span>Rs.{{subtotal}}</span>
    					</p>
						{{/if}}
    					<p class="d-flex">
    						<span>Delivery</span>
    						<span>Rs.0.00</span>
    					</p>
						{{#if discountAmount}}
    					<p class="d-flex">
    						<span>Discount</span>
    						<span>Rs.{{discountAmount}}</span>
    					</p>
						{{/if}}
    					<hr>
    					<p class="d-flex total-price">
    						<span>Total</span>
							{{#each total}}
    						<span id="total">Rs.{{total}}</span>
							{{/each}}
    					</p>
    				</div>
    				<p><a href="/place-order" class="btn btn-primary py-3 px-4">Proceed to Checkout</a></p>
    			</div>
    		</div>
			</div>
		</section>
    {{else}}
	<div class="text-center">
	<img src="/images/empty-carts.jpg" alt="" width="250px">
	<h4 class="text-secondary">Your cart is empty!</h4>
	</div>
	
	{{/if}}
		
<script>
	function changeQuantity(cartId, productId,userId,index,productName,count){
		let quantity = parseInt(document.getElementById(productId).innerHTML);
		count = parseInt(count);
		
		console.log(userId);
		
		if(quantity > 9 && count==1){
                    
        

					document.getElementById(index).style.visibility = 'hidden';
					document.getElementById('item').style.visibility = 'visible';
					document.getElementById('item').innerHTML = "Cannot select more than 10 items";
				}
				else{	
					document.getElementById(index).style.visibility = 'visible';
					document.getElementById('item').style.visibility = 'hidden';
		$.ajax({
			url : '/change-product-quantity',
			data : {
				user : userId,
				cart : cartId,
				product : productId,
				count : count,
				quantity : quantity
			},
			method : 'post',
			success : (response)=>{
				console.log(response)
				if(response.removeProduct){
					confirm("Are you sure you wanna remove this?");
					
  	                location.reload();

				
				}
				else if (response.stock == 'outOfStock'){
                    document.getElementById('outOfStock').innerHTML = productName + " " +'is out of stock!';
					document.getElementById('outOfStock').style.visibility = 'visible';
				}
				else{
                    document.getElementById('outOfStock').style.visibility = 'hidden';
					document.getElementById(productId).innerHTML=quantity+count;
					document.getElementById('total').innerHTML="Rs."+response.total[0].total
					
				}

				
				
			}
		})
		}
	}


	
</script>

  {{!-- <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/bootstrap-datepicker.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script> --}}

  <script>
		$(document).ready(function(){

		var quantitiy=0;
		   $('.quantity-right-plus').click(function(e){
		        
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($('#quantity').val());
		        
		        // If is not undefined
		            
		            $('#quantity').val(quantity + 1);

		          
		            // Increment
		        
		    });

		     $('.quantity-left-minus').click(function(e){
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($('#quantity').val());
		        
		        // If is not undefined
		      
		            // Increment
		            if(quantity>0){
		            $('#quantity').val(quantity - 1);
		            }
		    });
		    
		});
	</script>
	{{>footer}}
{{!--     
  </body>
</html> --}}


{{!-- <script>
	function copy(CouponCode){
		
		console.log(CouponCode)
	}
  </script> --}}

  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Coupons</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
       {{#each couponList}}
	   {{!-- {{#if (gte ../total.[0].total minAmount)}} --}}
      <div class="modal-body">
        <div class="head pe-2 pt-2" style="float: right; ">
            <button type="submit" onclick="copy('{{coupon}}')" class="btn btn-outline-primary" style="float:right">copy</button>
            </div>
       <h5 id="coupon">{{coupon}}</h5>
       
       {{#if (eq discountType "percentage")}}
       <p>Get {{discount}}% off on purchase of minimum {{minItems}} items worth {{minAmount}} rupees</p>
       {{else}}
       Get {{discount}}Rs. off on purchase of minimum {{minItems}} items worth {{minAmount}} rupees</p>
       {{/if}}
       valid till : {{expiryDate}}
      </div>
	  {{!-- {{/if}} --}}
	  {{/each}}
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        {{!-- <button type="button" class="btn btn-primary">Understood</button> --}}
      </div>
    </div>
  </div>
</div>
<script>
    function copy(coupon){
                       console.log("coupon"+coupon)
                        navigator.clipboard.writeText(coupon)
                    }
    
	function applyCoupon(){
		let couponCode = document.getElementById('couponCode').value;
		let total = document.getElementById('totalamt').value;
		let couponRegex=/^([A-Za-z0-9]){3,20}$/gm;
		console.log("hi",couponCode);
		console.log("hi",total);
		if(couponCode == ''){
          document.getElementById('err').innerHTML = 'Please enter coupon code';
		  return false;
		}
		else if(couponRegex.test(couponCode) == false){
          document.getElementById('err').innerHTML = 'Please enter valid coupon code';
		  return false;
		}
		else{
		$.ajax({
			url : '/apply-coupon',
			method : 'post',
			data : {
				'couponCode' : couponCode,
				'totalAmount' : total, 
			},
			success : (response)=>{
				console.log(response);
				location.reload();
			}
		})
		}
	}
    
</script>

<style>
	applyCoupon:hover{
         color:red;
	}
</style>
{{!-- Sweet Alert --}}
<script>

function sweetAlert(){
		const swalWithBootstrapButtons = Swal.mixin({
  customClass: {
    confirmButton: 'btn btn-success',
    cancelButton: 'btn btn-danger'
  },
  buttonsStyling: false
})

swalWithBootstrapButtons.fire({
  title: 'Are you sure?',
  text: "You won't be able to revert this!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonText: 'Yes, delete it!',
  cancelButtonText: 'No, cancel!',
  reverseButtons: true
}).then((result) => {
  if (result.isConfirmed) {
    swalWithBootstrapButtons.fire(
      'Deleted!',
      'Your file has been deleted.',
      'success'
    )
  } else if (
    /* Read more about handling dismissals below */
    result.dismiss === Swal.DismissReason.cancel
  ) {
    swalWithBootstrapButtons.fire(
      'Cancelled',
      'Your imaginary file is safe :)',
      'error'
    )
  }
})
	}
	
	
</script>