
  {{>user-header}}



 <div class="hero-wrap hero-bread" style="background-image: url('/images/bg_1.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Cart</span></p>
            <h1 class="mb-0 bread">My Orders</h1>
          </div>
        </div>
      </div>
    </div>
    {{!-- End --}}
{{#if orderInfo}}
<section class="ftco-section ftco-cart">
		<p id="item"  class="text-danger text-center"></p>
			<div class="container">
				
				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
						        
						        <th>Date</th>
						        <th>Address</th>
						        <th>Pincode</th>
						        <th>Phone no.</th>
						        <th>Net Amount</th>
						        <th>Payment Method</th>
						        <th>Order Status</th>
						        <th>Payment Status</th>
						        <th>&nbsp;&nbsp;</th>
								<th>&nbsp;</th>
						        
						      </tr>
						    </thead>
						    <tbody>

						        {{#each orderInfo}}
   
						      <tr class="text-center">
								
						       
						        {{!-- <td class="image-prod"><div class="img" style="background-image:url(/product-images/{{item}}.jpg);"></div></td> --}}
						       
						        {{!-- <td class="product-name">
						        	<h3>hjbjbjb</h3>
						        	<p>nm bbjbjnbknn</p>
						        </td>
						         --}}
                                 <td>{{date}}</td>
                                 <td>{{deliveryDetails.street}},{{deliveryDetails.town}},{{deliveryDetails.state}}</td>
                                 <td>{{deliveryDetails.zip}}</td>
                                 <td>{{deliveryDetails.phone}}</td>
                                 <td>{{totalAmount.[0].total}}</td>
                                 <td>{{paymentMethod}}</td>
						         <td>{{#if (eq orderStatus 'order cancelled')}}<span class="text-danger">{{orderStatus}}</span>{{else}}{{orderStatus}}{{/if}}</td>
						         <td>{{#if (eq paymentStatus 'Return')}}<span class="text-warning">{{paymentStatus}}</span>{{else}}{{paymentStatus}}{{/if}}</td>

                                 {{!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"></button> --}}
						         <td><a href="/view-ordered-products/{{_id}}" class="btn btn-primary" style="height: 30px;">ViewProducts</a></td>
                                 {{!-- <td class="product-remove"><a data-bs-toggle="modal" data-bs-target="#exampleModal" href="/remove-order/{{_id}}"><span class="ion-ios-close"></span></a></td> --}}
								 {{!-- <td class="product-remove"><a href="/remove-product/{{productDetails._id}}" onclick="return confirm('Are you sure you wanna delete it')"><span class="ion-ios-close"></span></a></td> --}}
								 {{!-- <td><button href="" class="btn btn-primary" role="button" style="background-color: rgb(190, 190, 190);font-size:medium;color:white">View Products</button></td> --}}
						      </tr>
                            
							   {{/each}}
						    </tbody>
						  </table>
					  </div>
    			</div>

    		</div>
			
    		</div>
			</section>
			{{else}}
			<div class="text-center">
	<img src="/images/order.webp" alt="" width="300px">
	<h4 class="text-secondary">No orders yet!</h4>
</div>
{{/if}}
{{>footer}}

		{{!-- modal --}}
		<!-- Button trigger modal -->

{{!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button> --}}




