{{>user-header}}

<div class="hero-wrap hero-bread" style="background-image: url('/images/bg_1.jpg');">
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Cart</span></p>
				<h1 class="mb-0 bread">Wish List</h1>
			</div>
		</div>
	</div>
</div>

<div>
</div>
{{#if wishListItems}}
<section class="ftco-section ftco-cart">
	<p id="item" class="text-danger text-center"></p>
	<p id="outOfStock" class="text-danger text-center"></p>
	<div class="container">

		<div class="row">
			<div class="col-md-12 ftco-animate">
				<div class="cart-list">
					<table class="table">
						<thead class="thead-primary">
							<tr class="text-center">

								<th>Product</th>
								<th>Product name</th>
								<th>Price</th>
								<th>Cart</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							{{#each wishListItems}}
							<tr class="text-center">

								<td class="image-prod">
									<div class="img"
										style="background-image:url(/product-images/{{productDetails.Images.[0]}}.jpg);">
									</div>
								</td>

								<td class="product-name">
									<h3>{{productDetails.name}}</h3>
								</td>

								<td class="price">Rs.{{productDetails.price}}</td>

								{{#if (eq productDetails.stock 0)}}
								<td class="price"><span class="text-danger">Out of stock!</span></td>
								{{else}}
								<td><a href="/add-to-cart/{{productDetails._id}}"
										onclick="addToCart({{productDetails._id}})"> <i
											class="fa-solid fa-cart-shopping" style="color: #82AE46;"></i></a></td>
								{{/if}}
								<td class="product-remove"><a href="/remove-wishlist-product/{{productDetails._id}}"
										onclick="return confirm('Are you sure you wanna delete it')"><span
											class="ion-ios-close"></span></a></td>
							</tr>

							{{/each}}

						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="row justify-content-end">
			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
			</div>
		</div>
</section>
{{else}}
<div class="text-center">
	<img src="/images/emptyWishlist.jpg" alt="" width="300px">
	<h4 class="text-secondary">Your wishlist is empty!</h4>
</div>
{{/if}}
{{>footer}}